﻿<h2>Bandleden</h2>

<ul>
    @foreach (var band in ViewBag.Bands)
    {
        @foreach (var bandlid in band.Leden)
        {
            <li>
                [@band.Naam] @bandlid.Naam - @bandlid.Leeftijd @(!bandlid.Levend ? "(+)" : "" ) - @bandlid.Geslacht
            </li>
        }
    }
</ul>